<div class="container">
  <h2 class="centered-text"><%= @course.name %></h2>
  <br>

  <div class="golf-show-div">
    <div class="col-md-5">
      <%= image_tag @course.golf_course_image.url(:large), class: "map-and-image" %>
    </div>

    <div class="col-md-6">
      <div class="game-container">
        <p>While renowned for its stately clubhouse, a host of amenities for members and their guests,
          and service levels to match, the true strength of Capilano lies in its golf course. Designed by
          the estimable golf course architect Stanley Thompson, and considered one of his finest efforts, Capilano
          presents a challenging and artistic layout that takes full advantage of the topography and natural beauty
          of its location. Moreover, Capilano’s traditional design and immaculate conditioning have helped establish
          its reputation as one of the world’s premiere "members' clubs", where the scratch golfer and the high
          handicapper can share a game from the same set of tees and each enjoy a challenging and rewarding golf experience.</p>
        <p class="link-word">www.capilanogolf.com/<p>
      </div>

      <div class="map-div">
        <div id="map" class="map-and-image" style='height: 300px; width: 540px;'></div>
      </div>
    </div>
  </div>

  <%#= link_to "Edit", edit_golf_course_path(@course), class:"btn btn-primary"%>

  <%#= link_to "Delete", golf_course_path(@course), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
          {
            "lat": <%= @course.latitude %>,
            "lng": <%= @course.longitude %>,
          }
        ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
  });
</script>
