<p>Hello <%= @recipient.first_name %>,</p>
<p><%= @sender.full_name %> was unable to accept your request for the following game:</p>
<p>Date: <%= @game.date %></p>
<p>Golf Course: <%= @course %></p>
<p>Login to TeeTime to join another game!</p>
<p>Best Regards,</p>
<p>The TeeTime Team</p>
