<p>Hello <%= @recipient.first_name %>,</p>
<p><%= @sender.full_name %> has requested to join your golf game with the following details:</p>
<p>Date: <%= @game.date %></p>
<p>Golf Course: <%= @course %></p>
<p>Please login to TeeTime to confirm their place!</p>
<p>Best Regards,</p>
<p>The TeeTime Team</p>
