<h1>Requests Index Page</h1>

<h3>New Requests</h3>

<% @user_games.each do |game| %>
  <div>
    <p><%= game.date %></p>
    <p><%= game.golf_course.name %></p>
    <% game.users_requesting_to_join.each do |user| %>
      <div>
        <p><%= user.full_name %></p>
      </div>
    <% end %>
    <hr>
  </div>
<% end %>
