/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require selectize
 *= require selectize.bootstrap3
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 70px;
  background-color: #f5f7ea;
  }

a {
  color: black;
}

a:hover {
  color: black;
}

.flag-icon {
  margin-right: 8px;
}

.link-word {
  font-weight: bold;
}

.page-header {
  text-align: center;
}

.navbar {
  background-color: black;
}

.game-container {
  background-color: #a7f28a;
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid black;
}

.btn-accept {
  background-color: #44f907;
  color: white;
  border: 1px solid black;
}

.btn-accept:hover {
  background-color: #31db0a;
  color: white;
}

.btn-decline {
  background-color: #30302e;
  color: white;
  border: 1px solid black;
}

.btn-decline:hover {
  background-color: black;
  color: white;
}

.info-text {
  text-align: center;
  font-weight: bold;
}

.centred-text {
  text-align: center;
}

.underlined-text {
  text-decoration: underline;
}

#map {
  border: 2px solid black;
  border-radius: 4px;
}

.mini-submenu{
  display:none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}


.the-side-bar {
  position: fixed;
  width: 180px;
  top: 180px;
}

.list-group-item {
  background-color: black;
}

a.list-group-item {
  color: white;
}

a.list-group-item:hover {
  color: #44f907;
  background-color: black;
}

.list-group-item.active {
  background-color: #228B22;
  border-color: #228B22;
}

.list-group-item.active:hover {
  background-color: #228B22;
  border-color: #228B22;
}

.badge {
  background-color: #44f907;
  color: black;
}
