<p>Hello <%= @recipient.first_name %>,</p>
<br>
<p>Unfortunately <%= @sender.full_name %> is unable to play in the following game:</p>
<br>
<p>Date: <%= @game.date %></p>
<p>Golf Course: <%= @course %></p>
<br>
<p>You can log in to TeeTime to invite another player!</p>
<br>
<p>Best Regards,</p>
<p>The TeeTime Team</p>
