<p>Hello <%= @recipient.first_name %>,</p>
<br>
<p>You've been invited to play a round of golf by <%= @sender.full_name %>.</p>
<br>
<p>The details are as follows:<p>
<br>
<p>Date: <%= @game.date %></p>
<p>Golf Course: <%= @course %></p>
<br>
<p>Please login to TeeTime to confirm your place!</p>
<br>
<p>Best Regards,</p>
<p>The TeeTime Team</p>
